@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html > body > main {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
    color: #38a157;
    font-weight: 100;
}

h2 { 
    font-weight: 700;
}

.container-xxl {
    margin-bottom: 25px;
}

::selection {
    background: coral;
}

.first-on-page {
    margin-top: 100px !important;
}

img {
    margin: 0;
    width: 100%;
}

/* NAVBAR */
::-webkit-scrollbar {
    display: none;
}

nav {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding: 0 !important;
    background: #68ac5e21;
    color: rgb(255, 255, 255);
}

nav a.navbar-brand {
    font-size: 45px;
}

nav .active {
    color: #13351d;
}

.dropdown { 
    position: static; 
}

.dropdown-menu {
    width: 100%;
    padding: 0ch;
    margin: 0ch;
    text-align: center; 
    border-radius: 0ch;
}

.dropdown-menu>li {
    display: inline-block; 
}

nav a {
    font-weight: 300;
    color: #38a157;
}

.dropdown-menu {
    background: #38a157;
    border-width: 0ch;
}

.dropdown-menu a {
    color: whitesmoke;
    font-size: 25px;
}

.dropdown-menu a:hover {
    color: #38a157;
}
.dropdown-menu a:active {
    background: #38a157;
}
.collections > div > a {
    margin-bottom: 25px;
}

.photos > div {
    margin-bottom: 10px;
}

/* CAROUSEL */
.carousel {
    margin: auto;
}

#startingPageCarousel > div > button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

/* PROFILE */

#nand {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0 0 20px -10px black;
    text-align: center;
}

.profile {
    background-color:#093316;
    color: #38a157;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto auto 25px;
    vertical-align: center;
    font-size: x-large;
    font-weight: 600;
}

.profile h1 {
    margin-top: 10px;
    font-size: 200%;
    font-weight: 600;
}

.container-xxl {
    max-width: 1300px;
}

/* COLLECTION CARDS */

.card {
    overflow: hidden;
    padding: 4px;
    border: 0;
}

.card-title {
    font-weight: 300;
}

.card img {
    transition: 0.5s;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}

.card:hover img {
    transform: scale(1.05);
}

#winter2020text {
    color: #e7cc73;
}

#june2020text {
    color: #c79780
}

#julyaugust2020text {
    color: #6a3d2c;
}

#april2020text {
    color: #cdced2;
}

#march2020text {
    color: #6f431c;
}

.photos {
    margin: 10px;
}

@media (max-width: 50px) {
    a.navbar-brand {
        font-size: 34px;
    }

    .navbar-toggler {
        width: 25px;
        padding: 0;
    }

    .navbar-toggler-icon {
        width: 10px;
    }

    .first-on-page {
        margin-top: 80px !important;
    }

    .profile {
        text-align: center;
    }
}

@media (max-width: 410px) {
    html main nav a.navbar-brand {
        font-size: 28px;
    }
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 8px;
    background: #093316;
    margin: 0;

}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: #fffde8;
    width: 0;
}

/* animated arrow */
.navbar-toggle {
    border: none;
    box-shadow: none !important;
    transform: rotate(0deg);
    transition: 0.5s;
}

/* END ANIMATED X */