@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Playfair Display', serif;
    text-align: center;
}
nav {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
	box-shadow: 0 0 20px 5px;
}
a.navbar-brand {
    font-size: 45px;
}
.first-on-page {
    margin-top: 120px !important;
}
img {
    margin: 0;
    width: 100%;
}
.photos {
    margin: 10px;
}
.photos > div {
    margin-bottom: 10px;
}
.carousel {
    margin: auto;
}
#nand {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0;
    margin-bottom: 25px;
}
@media (max-width: 575px) {
    a.navbar-brand {
        font-size: 34px;
    }
    .navbar-toggler {
        width: 25px;
        padding: 0;
    }
    .navbar-toggler-icon {
        width: 10px;
    }
}