@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Playfair Display', serif;

}
nav {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    background-color: white;
    color: white;
    mix-blend-mode:multiply;
}
a.navbar-brand {
    font-size: 45px;
}
img {
    margin: 0;
    width: 100%;
}
.photos {
    margin-top: 120px;
}
.photos > div {
    margin-bottom: 10px;
}
.navbar-brand {
    color: azure;
}